* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

/* Add styles here! */

header {
  padding-top: 96px;
  padding-bottom: 64px;
  border-bottom: 8px solid hsla(0, 0%, 60%, 1);
}

main {
  padding: 72px 0;
  background-color: hsla(0, 0%, 40%, 1);
}

.max-width-wrapper {
  max-width: 800px;
  margin: 0px auto; 
}

.intro-chunk {
  background-color: white;
  padding: 8px 24px;
  max-width: 450px;
}

.card {
  background-color: white;
  padding: 8px 24px;
  border-bottom: 8px solid hsla(0, 0%, 60%, 1);
}

.card p {
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 400;
}

.title {
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 48px;
}

p {
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: -0.005em;
}

strong {
  color: hsla(160, 100%, 30%, 1);
  font-weight: 800;
}


.indented-heading {
  background-color: hsla(45, 100%, 50%, 1);
  max-width: 450px;
  padding: 16px 32px;
  font-size: 1.5rem;
  margin-left: -32px;
  margin-top: 0px;
  margin-bottom: 0;
  border-bottom: 8px solid hsla(45, 100%, 40%, 1);
}

p + p {
  margin-top: 16px;
}

